
.bandera{
    height:20px;
    width:20px;
    margin-right:10px;
    mergin-top:-15px;
}
.escudo{
    height:20px;
    width:20px;
    margin-left:10px;
    mergin-top:-15px;
}
.altura-mapa {
    height: calc(100% - 244px);
    margin: 0px 10px 0px 10px;
}
