<md-content class="Page-Container DemoHeader">
    <div layout="row">
        <div flex="90" flex-offset="5" class="DemoHeader-container">
            <div layout="row" layout-align="space-between">
                <img src="img/wekain.png" ui-sref="app.landing" class="DemoHeader-logo"/>
                <div layout="row" layout-align="center stretch">
                    <a hide-xs class="DemoHeader-link md-subhead" href="#/login">{{ 'iniciar_sesion' | translate }}</a>
                    <a hide-xs class="DemoHeader-link md-subhead" href="#/register">{{ 'registrarse' | translate }}</a>
                </div>
                <app-translator></app-translator>
            </div>
        </div>
    </div>
</md-content>
<div class="DemoHeader-spacer"></div>
